/*importaciones */
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap'); /*font-family: "Jockey One", serif;*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); /*font-family: "Libre Baskerville", serif;*/

/*Colores de la pagina web*/
:root {
    --color_verde1: #A5FD04;
    --color_verde2: #8CD404;
    --color_verde3: #3E5D04;
    --color_azul: #115BA0;
    --blanco: white;
    --black: black;
}

*{
    margin: 0;
    padding: 0;
}

/*Clase para ocultar cosas*/
.Desaparcer{
  display: none;
}
body{
    margin: 0 auto;
}
/*__________________________________________________________CABECERA____________________________________________________*/
.Cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color_verde2);
    width: 100%;
    height: 7rem;
}

/*estilos de la img de la cabecera*/
.Cabecera__img{
    height: 7rem;
    width: auto;
}

/*estilos de los enlaces de la cabecera*/
.Cabecera__div__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.Cabecera__div__links a{
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Jockey One", serif;
    font-size: 30px;
    font-weight: bold;
    margin-right: 2rem;
    margin-right: 2rem;
}

/*estilos del buscador de la cabecera */
.Cabecera__div__buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.Cabecera__div__buscador:hover {
    box-shadow: 0 0 20px 10px var(--color_verde1);
}

/*estilos del buscador de la cabecera input*/
.Cabecera__buscador{
    outline: none;
    background-color: var(--color_verde2);
    border: 2.5px solid var(--black);
    height: 2.0rem;
    width: 12rem;
    border-radius: 20px 0 0 20px;
}
.Cabecera__buscador::placeholder {
    padding-left: 5px;
    color: black;
    font-family: "Libre Baskerville", serif;
}

/*estilos de el buscador de la cabecera boton*/
.Cabecera__button{
    cursor: pointer;
    background-color: var(--color_principal);
    border: 2.5px solid var(--black);
    border-left: none;
    width: 2.6rem;
    height: 2.2rem;
    border-radius: 0 20px 20px 0;
}

/*estilos de los iconos de la cabecera*/
.Cabecera__a__icon {
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}

.Cabecera__icon {
    width: 60px;
    height: 60px;
}

/*__________________________________________________________MENU______________________________________________________*/
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background-color: var(--black);
    position: sticky; 
    top: 0; 
    z-index: 1;
}
/*estilo de los elementos a del menu*/
.menu a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Libre Baskerville", serif;
    position: relative;
}
.menu a:hover{
    color: var(--color_verde1);
}

/* Efecto animation barra menu linea */
.menu[data-animation="bonus"] a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color_verde1);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.menu[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}


/*____________________________________________________________________Estilos del cuerpo________________________________________________________________*/

.cuerpo{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuerpo__Flex {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    display: flex;
    max-width: 800px;
    width: 100%;
}

.cuerpo__Flex__btn, .cuerpo__Flex__a {
    min-width: 48px;
    min-height: 48px;
    padding: 12px;
}

.cuerpo__Flex__login, .cuerpo__Flex__register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    flex: 1;
}

.cuerpo__Flex__login{
    border: 2px solid var(--black);
    border-right: 1px solid var(--black);
    border-radius: 16px  0 0 16px;
}
.cuerpo__Flex__register{
    border: 2px solid var(--black);
    border-left: 1px solid var(--black);
    border-radius: 0 16px 16px 0;
}

h2 {
    margin-bottom: 2rem;
    font-family: "Jockey One", serif;
}

.cuerpo__Flex__login__facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    gap: 10px;
    background-color: var(--color_azul);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cuerpo__Flex__login__facebook img {
    width: 20px;
    height: auto;
}

.cuerpo__Flex__login__facebook a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.cuerpo__Flex__login__google {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    margin-top: 10px;
    gap: 10px;
    color: #5F6368; /* Gris de Google */
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--black);
    cursor: pointer;
}

.cuerpo__Flex__login__google img {
    width: 20px;
    height: auto;
}

.cuerpo__Flex__login__google a {
    color: #5F6368;
    text-decoration: none;
    font-size: 14px;
}

.cuerpo__Flex__login__a{
    color: var(--black);
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    margin-top: 10px;
}

.cuerpo__Flex__login input{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.cuerpo__Flex__login button{
    cursor: pointer;
    width: 85%;
    background-color: var(--color_verde3);
    color: var(--blanco);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    border: none;
}

.cuerpo__Flex__login input::placeholder{
    color: var(--black);
    font-family: "Libre Baskerville", serif;
}

.cuerpo__Flex__register input{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.cuerpo__Flex__register button{
    cursor: pointer;
    width: 50%;
    background-color: var(--color_verde3);
    color: var(--blanco);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    border: none;
}

.cuerpo__Flex__register input::placeholder{
    color: var(--black);
    font-family: "Libre Baskerville", serif;
}

.cuerpo__Flex__register__checkbox{
    color: var(--color_verde3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
}

.cuerpo__Flex__register__checkbox input[type="checkbox"] {
    appearance: none;
    border: 1px solid var(--color_verde3);  
}

.cuerpo__Flex__register__checkbox input[type="checkbox"]:checked {
    background-color: var(--color_verde3);
    border: none;
}

.cuerpo__Flex__register__checkbox label {
    margin-bottom: 10px;
}

.cuerpo__Flex__a{
    text-decoration: none;
    color: var(--blanco);
    font-family: "Libre Baskerville", serif;
    transition: color 0.3s ease-in-out;
}

.cuerpo__Flex__btn{
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cuerpo__Flex__btn:hover {
    background-color: var(--black);
}

.cuerpo__Flex__btn:hover a {
    color: var(--color_verde3);
}
/*__________________________________________________________FOOTER______________________________________________________*/
footer {
    background-color: var(--black);
    color: var(--blanco);
    font-family: 'Libre Baskerville', serif;
    padding: 20px 0;
}

.footer__contenido {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* estilos del logo en el footer */
.footer__contenido__img img {
    width: 16rem;
    height: auto;
    margin-bottom: 20px;
    margin-left: 1.5rem;
    border-radius: 20px;
    border: 2px solid var(--black);
}

/* estilos de la sección de enlaces */
.footer__contenido__links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
}

.footer__contenido__links__footer__section {
    min-width: 100px;
    margin: 10px;
    text-align: left;
}

.footer__contenido__links__footer__section h3 {
    font-family: "Jockey One", serif;
    font-size: 1.6rem;
    color: var(--color_verde2);
    border-bottom: 2px solid var(--color-verde1);
}

.footer__contenido__links__footer__section a {
    display: block;
    margin: 8px 0;
    font-size: 1rem;
    text-decoration: none;
    color: var(--blanco);
    transition: color 0.3s;
    padding: 10px;
}

.footer__contenido__links__footer__section a:hover {
    color: var(--color_verde1);
}

/* estilos de los redes sociales */
.footer__contenido__social {
    display: flex;
    display: block;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer__a__icon {
    display: flex;
    margin-top: 10px;
    margin-right: 5rem;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--black);
    border: 2px solid var(--black);
    transition: box-shadow 0.3s;
}

.footer__a__icon:hover {
    box-shadow: 0 0 15px var(--color_verde2);
}

.footer__icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.footer_icon:hover {
    transform: rotate(10deg);
}

/* estilos del final del footer */
.footer__end {
    padding-top: 10px;
    padding-left: 2rem;
}

.footer__end a {
    text-decoration: none;
    color: var(--color_verde1);
    font-size: 1rem;
    padding: 12px 16px;
    transition: color 0.3s;
    padding-right: 40px;
}

.footer__end a:hover {
    text-decoration: underline;
}

/*-------------------------------------------------------Media Querrys------------------------------------------------------------*/

@media (max-width: 1140px) {
    .Cabecera__div__links a{
        font-size: 1.2rem;
        margin-right: 1rem;
        margin-right: 1rem;
    }

    .Cabecera__buscador{
        width: 5rem;
    }

    .Cabecera__a__icon {
        margin-right: auto;
        margin-left: auto;
    }
    
    .Cabecera__icon {
        width: auto;
        height: auto;
    }
}

@media (max-width: 1070px) {
    .Cabecera__img{
        height: 6rem;
        width: auto;
    }
    .menu a{
        font-size: 1.3rem;
    }

    .footer__contenido__img img {
        width: 10rem;
    }
   
    .footer__contenido__links__footer__section h3 {
        font-size: 1.3rem;
    }
    
    .footer__contenido__links__footer__section a {
        font-size: 0.8rem;
    }

    .footer__a__icon {
        width: 30px;
        height: 30px;
        margin-top: 15px;
        margin-left: 5px;
    }

    .footer__icon {
        width: 20px;
        height: 20px;
    }
}
/* Responsive para celulares */
@media screen and (max-width: 774px) {
    .Cabecera__img{
        height: 4.6rem;
        width: auto;
    }

    .Cabecera__div__links a{
        font-size: 1.2rem;
        margin-right: 0.6rem;
        margin-right: 0.6rem;
    }

    .menu a{
        font-size: 1rem;
    }

    .cuerpo__Flex{
        width: 30rem;
        flex-direction: column;
    }

    .cuerpo__Flex__login{
        border: 2px solid var(--black);
        border-bottom: 1px solid var(--black);
        border-radius: 16px 16px 0 0 ;
    }
    .cuerpo__Flex__register{
        border: 2px solid var(--black);
        border-top: 1px solid var(--black);
        border-radius: 0 0 16px 16px;
    }

    .footer__contenido__links__footer__section h3 {
        font-size: 1rem;
    }
    
    .footer__contenido__links__footer__section a {
        font-size: 0.6rem;
    }

    .footer__a__icon {
        width: 20px;
        height: 20px;
        margin-top: 25px;
        margin-left: 6px;
    }

    .footer__icon {
        width: 10px;
        height: 20px;
    }

}

@media screen and (max-width: 662px) {

    .Cabecera__div__links a{
        display: none;
    }

    .menu a{
        font-size: 0.7rem;
    }

    .footer__contenido__img img {
        width: 8rem;
    }

    .footer__end a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 442px) {
    .Cabecera__img{
        height: 3.8rem;
        width: auto;
    }

    .Cabecera__div__links{
        display: none;
    }
    
    .menu{
        height: 3rem;
    }

    .menu a{
        font-size: 0.6rem;
    }

    .footer__contenido__img img {
        width: 7rem;
    }

    .footer__end a {
        font-size: 0.7rem;
    }
}